@import "../../sass/colors";
@import "../../sass/pixel";
.newsletter {
     display: flex;
   justify-content: center;
    align-items: center;
  width: $one-hundred-percent;
   height: $four-hundred;
   background-image: url("../../assets/newsletter-bg.jpeg");
   background-position: center;
   background-size: cover;
   margin-top: $one-hundred;
    .newsLetterContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
         .small-text {
           color: rgba(0, 0, 0, 0.5);
           margin-bottom: $fifteen;
           text-transform: uppercase;
           font-weight: bold;
         }
        .big-Text {
          margin-bottom: $Tweenty;
          font-size: $tweenty-two;
          line-height: $thirty;
          font-weight: 500;
          text-transform: uppercase;
          padding: 0 $thirty;
        }
        form {
          display: flex;
          gap: $five;
          input {
            width: $one-hundred-percent;
            height: $forty;
            border-radius: 0;
            border: 1px solid rgba(0, 0, 0, 0.2);
            padding: 0 $twelve;
            font-size: $sixteen;
            outline: none;
          }
          button {
            outline: 0;
            border: 0;
            height: $forty;
            width: $one-hundred;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: $sixteen;
            color: $colorWhite;
            background: #8e2de2;
            border-bottom: 3px solid #6516aa;
          }
        }
        .privace {
          margin-top: $Tweenty;
          margin-bottom: $Tweenty;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.5);
        }
       .socialMediaContainer {
         display: flex;
         gap: $ten;
          .icon {
            width: $thirty;
            height: $thirty;
            background: rgba(0, 0, 0, 0.8);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $colorWhite;
            text-decoration: none;
          }
       }
    }
}