@import "../sass/colors";
@import "../sass/pixel";

.likedProducts {
  display: none;
  position: absolute;
  top:$one-hundred;
  right: 0;
  width: $three-hundred;
  height: 100vh;
  background-color: $colorWhite;
  border: 1px solid $black;
  flex-direction: column;
  animation: x 2s ease-in;
  z-index: 999;
  @media (max-width: $three-hundred-tweenty-one) {
    width: $one-hundred-percent;
  }
  .headerLike {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: $one-hundred-percent;
    height: $fifty;
    border: 1px solid $borderInShopLikedProducts;
    span {
      font-weight: 700;
      padding-left: $ten;
    }
     button {

       width: $thirty;
       height: $thirty;
       outline: none;
       background: none;
       border: 1px solid $black;
       border-radius: 50%;
       font-size: 1.4rem;
     }
  }
   .listOfLiked {
     display: flex;
     flex-direction: column;
     align-items: center;
     overflow-x: auto;
     margin-top: $ten;
     gap: $ten;
     width: $one-hundred-percent;
     height: $eight-hundred-eighty;
     .singielItem {
       position: relative;
       border: 1px solid $borderInShopLikedProducts;
       width: $two-hundred-eighty;
       list-style: none;
        i {
          position: absolute;
          top: $five;
          right: $five;
          border:1px solid $black;
          border-radius: 50%;
          padding: $five;
          font-size: $ten;
        }
        h3 {
          font-size: 1rem;
          margin-left: $ten;
        }
        .productInfo {
           display: flex;
           justify-content: space-between;
           align-items: center;
           width: $one-hundred-percent;
          .imgContainer {
            margin-left: $ten;
            width: $fifty;
            height: $fifty;
            img {
              width: $one-hundred-percent;
              height: $one-hundred-percent;
              object-fit: contain;
            }
          }
          span {
            font-weight: bold;
            margin-right: $forty;
          }
        }
        button {
          outline: none;
          border: none;
          background: $backGrandColor;
          border-top-left-radius: $thirty;
          border-bottom-right-radius: $thirty;
          color: $colorWhite;
          font-weight: bold;
          text-transform: uppercase;
          margin: $ten;
          width: $one-hundred-tweenty;
          height: $forty;
        }
     }
   }
}
.show {
  display: flex;
}

