@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}

.container {
  width: 1300px;
   @media (max-width: 1024px) {
     width: 100%;
   }
}

