$colorWhite: white;
$backGrandColor: linear-gradient(to right, #8e2de2, #4a00e0);
$black: black;
$cardBackGround: radial-gradient(ellipse at center, rgba(87, 86, 86, 1.0), rgba(1, 1, 1, 1.0));
$borderForCard: #ced4da;
$red: red;
$borderInShopLikedProducts: #ced4da;
$colorBorderForm: rgba(255,255,255,0.5);