//Pixel in Rem //

$Tweenty: 1.25rem;
$ten: 0.6rem;
$three: 0.1875rem;
$five: 0.31rem;
$six: 0.375rem;
$eleven: 0.6875rem;
$twelve: 0.75rem;
$fifteen: 0.9375rem;
$sixteen: 1rem;
$seven-teen: 1.0625rem;
$eight-ten: 1.125rem;
$nine-ten: 1.1875rem;
$minus-nine-ten: -1.875rem;
$tweenty-two: 1.375rem;
$tweenty-four: 1.5rem;
$tweenty-five: 1.5625rem;
$thirty: 1.87rem;
$thirty-five: 2.1875rem;
$forty: 2.5rem;
$fifty: 3.12rem;
$fifty-five: 3.4375rem;
$sixty: 3.75rem;
$sixty-five: 4.0625rem;
$seventy: 4.375rem;
$eighty: 5rem;
$eighty-seven: 5.4375rem;
$eighty-eight: 5.5rem;
$one-hundred: 6.25rem;
$one-hundred-tweenty: 7.5rem;
$one-hundred-thirty: 8.125rem;
$one-hundred-fifty:9.375rem;
$one-hundred-eighty: 11.25rem;
$two-hundred: 12.5rem;
$two-hundred-thirty: 14.375rem;
$two-hundred-fifty: 15.625rem;
$two-hundred-eighty: 17.5rem;
$two-hundred-ninety: 18.125rem;
$three-hundred: 18.75rem;
$three-hundred-ten: 19.375rem;
$three-hundred-tweenty-one: 20.0625rem;
$three-hundred-tweenty-six: 20.375rem;
$four-hundred: 25rem;
$four-hundred-tweenty: 26.25rem;
$four-hundred-tweenty-five:26.5625rem;
$four_hundred-tweenty-six: 26.625rem;
$five-hundred: 31.25rem;
$five-hundred-five: 31.5625rem;
$five-hundred-tweenty: 32.5rem;
$five-hundred-forty: 33.75rem;
$five-hundred-eighty: 36.25rem;
$five-hundred-ninety: 36.875rem;
$six-hundred: 37.5rem;
$six-hundred-sixteen: 38.6875rem;
$six-hundred-seventy: 41.875rem;
$seven-hundred: 43.75rem;
$seven-hundred-sixty-eight: 48rem;
$eight-hundred: 50rem;
$eight-hundred-eighty: 55rem;
$eight-hundred-ninety : 55.625rem;
$nine-hundred: 56.25rem;
$nine-hundred-tweenty: 57.5rem;
$one-thousand-tweenty-three: 63.9375rem;
$one-thousand-tweenty-four: 64rem;
$one-thousand-tweenty-five: 64.0625rem;


//

//Percent //

$one-hundred-percent: 100%;
