@import "../../sass/colors";
@import "../../sass/pixel";

.hero-banner {
  display: flex;
  justify-content: center;
  width: $one-hundred-percent;
  min-height: 100vh;
  background: $backGrandColor;
    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
           @media (max-width: $one-thousand-tweenty-five) {
             padding-top: $fifty;
             flex-direction: column-reverse;
             align-items: center;
           }
          @media (max-width: $five-hundred-eighty) {
             justify-content: center;
          }
          .text-content {
            color: $colorWhite;
            @media (max-width: $five-hundred-eighty) {
              width: $one-hundred-percent;
            }
            h1 {
              min-widt: $five-hundred;
              font-size: $one-hundred-eighty;
              @media (max-width: $five-hundred-eighty) {
                width: $one-hundred-percent;
                font-size: $one-hundred;
                text-align: center;
              }

            }
            p {
              max-width: $five-hundred;
              font-size: $eight-ten;
              @media (max-width: $five-hundred-eighty) {
                text-align: center;
                width: $one-hundred-percent;
              }
            }
          }
          .ctas {
             display: flex;
             color: $colorWhite;
             justify-content: center;
             gap: $Tweenty;
             max-width: $five-hundred;
              margin-bottom: $forty;
              .banner-cta {
                background: none;
                border: 1px solid $colorWhite;
                border-radius: $ten;
                color: $colorWhite;
                cursor: pointer;
                margin-top: $Tweenty;
                padding: $five $ten;
              }
          }
        img {
          height: $one-hundred-percent;
          width: $five-hundred;
          object-fit: contain;
            @media (max-width: $five-hundred-eighty) {
              margin-bottom: $one-hundred;
              height: $four-hundred;
              width: $one-hundred-percent;
            }
        }
    }
}