@import "src/Component/sass/_mixin.scss";
@import "../../sass/pixel";
@import "../../sass/colors";

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: $one-hundred-percent;

  .products-container {

    .categoryProducts {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      justify-content: space-between;
      margin-top: $eighty;

      .monitor {
        overflow: hidden;
        @media (max-width: $six-hundred-sixteen) {
          width: $one-hundred-percent;
        }
      }
        img{
          transition: all ease 0.5s;
        }
        img:hover {
          transform: scale(1.2);

        }
      }
      .head-seat {
          overflow: hidden;
        @media (max-width: $six-hundred-sixteen) {
          width: $one-hundred-percent;
        }
        img{
          transition: all ease 0.5s;
        }
        img:hover {
          transform: scale(1.2);
        }
      }
      .phone {
        overflow: hidden;
        @media (max-width: $nine-hundred-tweenty) {
          width: $one-hundred-percent;
        }
       img{
         transition: all ease 0.5s;
       }
        img:hover {
          transform: scale(1.2);
        }
      }
    }
    .showProducts {
      margin-top: $fifty;

      h2 {
        font-size: $tweenty-four;
        text-transform: uppercase;
        margin-bottom: $ten;
      }

      .border-bottom {
        width: $fifty;
        height: $three;
        background-color: #8e2de2;
        margin-bottom: $forty;

      }

      .singielProducts {
        width: $one-hundred-percent;

        .phoneProducts {
          display: none;
          justify-content: space-evenly;
          flex-wrap: wrap;
          width: $one-hundred-percent;
        }
        .monitorProducts {
          display: none;
          flex-wrap: wrap;
          justify-content: space-evenly;
          width: $one-hundred-percent;
        }
        .head-seatProducts {
          display: none;
          flex-wrap: wrap;
          justify-content: space-evenly;
          width: $one-hundred-percent;
        }
        .show {
          display: flex;
        }
        .hide {
          display: none;
        }
        .red {
          color: $red;
        }
      }
    }


}
