@import "../sass/colors.scss";
@import "../sass/pixel";
header {
  display: flex;
  justify-content: center;
  width: $one-hundred-percent;
  min-height: $one-hundred;
  background-color: #212121;
    .nav-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: $ten;
          nav {
               position: relative;
            @media (min-width: $one-thousand-tweenty-three) {
              display: flex;
            }
            i {
               color: $colorWhite;
               padding: $five;
               border: 1px solid white;
               border-radius: $five;
               @media (min-width: $one-thousand-tweenty-three) {
                 display: none;
               }
             }
            .logo {

              text-decoration: none;
              color: $colorWhite;
              font-size: $Tweenty;
              margin-right: $ten;
              margin-left: $ten;
               span {
                 margin-left: $five;
               }
              @media (min-width: $one-thousand-tweenty-three) {
                display: flex;

              }
            }
            .list-navigation {
               display: none;
               position: absolute;
               justify-content: center;
               align-items: center;
               bottom: -$eighty-seven;
               background-color: #212121;
               width: 100vw;
               z-index: 77;
              @media (min-width: $one-thousand-tweenty-three) {
                display: flex;
                position: unset;
                width: $one-hundred-percent;

              }

              li {
                display: flex;
                flex-direction: column;
                list-style: none;
                @media (min-width: $one-thousand-tweenty-three) {
                  flex-direction: unset;
                  gap: $Tweenty;
                }
                .link {
                  text-align: center;
                  text-decoration: none;
                  font-size: $Tweenty;
                  color: $colorWhite;
                }
              }
            }
            .show {
              display: flex;
            }
          }
         .interface {
           display: flex;
           align-items: center;

           gap: $Tweenty;
           margin-right: $ten;
            @media (min-width: $four_hundred-tweenty-six) and (max-width: $one-thousand-tweenty-four) {
               margin-right: $thirty;
            }
            @media (max-width: $four-hundred-tweenty-five) {
               gap: $ten;
               margin-right: $fifteen;
            }
            i {
               font-size: $Tweenty;
               color: $colorWhite;
             }

            .shop {
              position: relative;
              .productsInShop {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: -$seven-teen;
                right: -$eleven;
                width: $Tweenty;
                height: $Tweenty;
                border-radius: 50%;
                background:$backGrandColor;
                 span {
                   color: $colorWhite;
                 }
              }
            }
         }
    }
    .findProducts {
      position: relative;
       display: flex;
       justify-content: center;
       align-items: center;

       @media (max-width: $five-hundred-ninety) {
         width: $one-hundred-percent;
         top: $sixty-five;
         position: absolute;

       }
      .findProductsContainer {
          position: relative;
          display: flex;
          align-items: center;
          width: $three-hundred;
           @media (max-width: $five-hundred-ninety) {
             width: 100%;
           }
          input {
            outline: none;
            border: 1px solid grey;
            border-radius: $ten;
            padding-left: $ten;
            width: $three-hundred;
            height: $thirty;
            @media (max-width: $five-hundred-ninety) {
               width: $one-hundred-percent;
            }
          }
          i {
            position: absolute;
            right: $ten;
          }
        }
    }
   .likes-products {
     position: relative;
       .productsCounter {
         display: flex;
         justify-content: center;
         align-items: center;
         position: absolute;
         top: -$seven-teen;
         right: -$eleven;
         width: $Tweenty;
         height: $Tweenty;
         border-radius: 50%;
         background: $backGrandColor;
          span {
            color: $colorWhite;
          }
       }
   }


}
