@import "../sass/colors";
@import "../sass/pixel";

.shopCart {
      display: none;
      position: absolute;
      flex-direction: column;
      top:$one-hundred;
      right: 0;
      width: $three-hundred;
      height: 100vh;
      background-color: $colorWhite;
      border: 1px solid $black;
      z-index: 999;
       @media (max-width: $three-hundred-tweenty-one) {
         width: $one-hundred-percent;
       }
   .shopCartHeader {
     display: flex;
     align-items: center;
     justify-content: space-around;
     width: $one-hundred-percent;
     height: $fifty;
     border: 1px solid $borderInShopLikedProducts;
      span {
        font-weight: 700;
        padding-left: $ten;
      }
      .shopI {
           color: $black;
      }
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $thirty;
        height: $thirty;
        border: 1px solid $black;
        background: none;
        border-radius: 50%;
        outline: none;
      }
     .cardFinishPanel {
       position: absolute;
       bottom: 0;
       left: 0;
       width: $one-hundred-percent;
       .totalPrice {
         display: flex;
         flex-direction: column;
         span {
           width: $one-hundred-percent;
           background: $backGrandColor;
           border: 1px solid $borderInShopLikedProducts;
           color: $colorWhite;
           text-transform: uppercase;
           padding: $ten;
         }
       }
       button {
         display: flex;
         justify-content: center;
         align-items: center;
         text-transform: uppercase;
         border: none;
         border-radius: $forty;
         background: $backGrandColor;
         color: $colorWhite;
         margin: $ten auto;
         outline: none;
         width: $two-hundred;
         height: $fifty;
       }
     }
   }
   .shopSingielItem {
     position: relative;
     display: flex;
     overflow: auto;
     height:$six-hundred-seventy;
     flex-direction: column;
     align-items: center;
     width: $one-hundred-percent;

     .itemCard {
       position: relative;
        width: $two-hundred-eighty;
        margin-top: $ten;
        border: 1px solid $borderInShopLikedProducts;
       .deleteFromShop {
         position: absolute;
         top: $ten;
         right: $ten;
         color: $black;
         border-radius: 50%;
         border: 1px solid $black;
         padding: $three;
       }
        h3 {
         margin: $ten;
        }
         .inputContainer {
           display: flex;
           justify-content: space-between;
           align-items: center;
           margin-bottom: $ten;
            img{
               width: $sixty;
               height: $sixty;
               object-fit: contain;
               margin-left: $ten;
            }
           .inputBox {
             position: relative;
             margin-right: $thirty;
              .decrease {
                position: absolute;
                left: -1.2rem;
                outline: none;
                background: $backGrandColor;
                border: 1px solid $borderInShopLikedProducts;
                border-top-left-radius: $thirty;
                border-bottom-left-radius: $thirty;
                color: $colorWhite;
                height: $Tweenty;
                width: $Tweenty;
              }
             .increase {
               position: absolute;
               outline: none;
                 background: $backGrandColor;
                 border: 1px solid $borderInShopLikedProducts;
                  border-top-right-radius: $thirty;
                 border-bottom-right-radius: $thirty;
                 color: $colorWhite;
                 height: $Tweenty;
                 width: $Tweenty;
             }
              input {
                border: 1px solid #ced4da;
                background: $backGrandColor;
                color: $colorWhite;
                outline: none;
                text-align: center;
                width: $Tweenty;
                height: $Tweenty;
              }
             input[type="number"]::-webkit-inner-spin-button {
               display: none;
             }
           }
         }
        .price {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: $ten;
           button {
             outline: none;
             border: none;
             background: $backGrandColor;
             border-top-left-radius: $thirty;
             border-bottom-right-radius: $thirty;
             font-weight: bold;
             text-transform: uppercase;
             margin-left: $ten ;
             width: $one-hundred-thirty;
             height: $forty;
              a {
                color: $colorWhite;
                text-decoration: none;
              }
           }
          span {
            margin-right: $ten;
          }
        }
     }


   }

}
.show {
  display: flex;
}
