@import "../../../sass/colors";
@import "../../../sass/pixel";
.panel {
   display: flex;
  justify-content: center;
   align-items: center;
   width: $one-hundred-percent;
   height: $one-hundred-percent;
    .adminPanelContainer {
      display: flex;
      flex-direction: column;
      min-height: $six-hundred;
      backdrop-filter: blur($fifteen);
      border: 2px solid $colorBorderForm;
      .headerPanel {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        height: $fifty;
        width: $one-hundred-percent;
        border-bottom: 2px solid $colorBorderForm;
         h3 {
           color: $colorWhite;
           margin-left: $Tweenty;
         }
         button {
           background: none;
           border:  2px solid $colorBorderForm;
           border-radius: $forty;
           color: $colorWhite;
           text-transform: uppercase;
           width: $one-hundred;
           height: $thirty;
           margin-right: $Tweenty;
         }
      }
      .adminPanel {
            display: flex;
            height: $one-hundred-percent;
            width: $one-hundred-percent;
            @media (max-width: $seven-hundred-sixty-eight) {
              display: flex;
              flex-direction: column;
            }
           .menuPanel {
             display: flex;
             flex-direction: column;
             border-right: 2px solid $colorBorderForm;
             width: 20%;
             min-height: $six-hundred;
             padding: $ten;
              @media (max-width: $seven-hundred-sixty-eight) {
                width: $one-hundred-percent;
                min-height: $sixty;
                border-right: none;
                border-bottom: 2px solid $colorBorderForm;
              }
              span {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: $colorWhite;
                width: $one-hundred-fifty;
                margin-bottom: $ten;
                 i {
                   margin-left: $ten;
                   color: $colorBorderForm;
                   border: 1px solid $colorBorderForm;
                   border-radius:50%;
                   padding: $three;
                 }

              }
           }

        .actions {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 70%;
          margin: 0 auto;
          @media (max-width: $seven-hundred-sixty-eight) {
             min-height: $five-hundred-forty;
             width: $one-hundred-percent;
           }
           .add_product_form {
             display: none;
             @media (max-width: $five-hundred-tweenty) {
               width: $one-hundred-percent;
             }
           }
           .remove_product {
             display: none;
             align-items: center;
             justify-content: center;
             @media(max-width: $five-hundred-tweenty) {
               width: $one-hundred-percent;
             }

           }
          .show {
            display: flex
          }
        }

      }

    }

}