.panel {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
    .adminPanel {
      min-height: 600px;
      background-color: white;
      .headerPanel {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 50px;
        width: 100%;
        border-bottom: 1px solid black;
         h3 {
           margin-left: 20px;
         }
         button {
           margin-right: 20px;
         }
      }
    }
}