@import "../../sass/colors";
@import "../../sass/pixel";

.mainRegistrationLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: $one-hundred-percent;
  background-image: url("../../assets/Register Back ground.jpg");
  background-size: cover;
  background-position: center;
     .Login {
         display: flex;
         flex-direction: column;
       h2 {
           font-size: 2em;
           color: $colorWhite;
           text-align: center;
         }
       .inputbox {
         display: flex;
         flex-direction: column;
         position: relative;
         margin: $thirty 0;
         width: $three-hundred-ten;
         border-bottom: 2px solid $colorWhite;
         @media (max-width: $four-hundred-tweenty-five) {
           width: $two-hundred-ninety;
         }
            label {
              font-size: .9em;
              color: $colorWhite;
            }
            input {
              width: $one-hundred-percent;
              height: $thirty;
              background: transparent;
              border: none;
              outline: none;
              font-size: 1em;
              padding:0 $thirty-five 0 $five;
              color: $colorWhite;
            }
         input::placeholder {
           color: rgba(0,0,0, 0.5);
         }
            .email {
              position: absolute;
              right: $ten;
              bottom: $five;
              color: $colorWhite;
              font-size: 1.2em;
            }
            .lock {
              position: absolute;
              right: $ten;
              bottom: $five;
              color: $colorWhite;
              font-size: 1.2em;
            }
       }
            button{
             width: $three-hundred-ten;
             height: $forty;
             border-radius: $forty;
             background: $colorWhite;
             border: none;
             outline: none;
             cursor: pointer;
             font-size: 1em;
             font-weight: 600;
              @media (max-width: $four-hundred-tweenty-five) {
                width: $two-hundred-ninety;
              }
           }
       .register {
         font-size: .9em;
         color: $colorWhite;
         text-align: center;
         margin: $tweenty-five 0 $ten;
          span {
            cursor: pointer;
          }
       }

     }
    .hide {
      display: none;
    }
}