@import "../sass/colors";
@import "../sass/pixel";

@mixin  spanFooter{
  margin-bottom: $Tweenty;
  font-size: $Tweenty;
}
$text-color: rgba(0, 0, 0, 0.5);

footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: $one-hundred-percent;
     .footerContainer {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       margin-top: $fifty;
       margin-bottom: $fifty;
        @media (max-width: 50rem) {
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
       @media (min-width: 50.0625rem) and (max-width: 64.0625rem) {
         justify-content: center;
         gap: $Tweenty;
         margin-left: $thirty;
       }
         .About {
           max-width: $four-hundred;
           @media (max-width: $eight-hundred-ninety) {
             margin-bottom: $ten;
             margin-left: $Tweenty;
           }
            span {
              @include spanFooter;
            }
            p {
              margin-top: $Tweenty;
              color: $text-color;
              font-size: 0.875rem;
            }
         }
         .contact {

            span {
              @include spanFooter;
            }
            .place {
              display: flex;
              align-items: center;
              max-width: $four-hundred;
              margin-top:$Tweenty;
              @media (max-width: $eight-hundred-ninety) {
                justify-content: center;
                margin-left: $Tweenty;
              }

                i {
                  margin-right: $five;
                  color: $text-color;
                }
                p {
                  color: $text-color;
                }
            }
            .phone {
              display: flex;
              align-items: center;
              margin-top: $five;
              @media (max-width: $eight-hundred-ninety) {
                justify-content: center;
              }

                i {
                  margin-right: $five;
                  color: $text-color;
                }
                p {
                  color: $text-color
                }
            }
           .email {
             display: flex;
             align-items: center;
             margin-top: $ten;
             @media (max-width: $eight-hundred-ninety) {
               justify-content: center;
             }
               i {
                 margin-right: $five;
                 color: $text-color;
               }
               p {
                 color: $text-color;
               }
           }
         }
       .categoris {
         display: flex;
         flex-direction: column;
         @media (max-width: $eight-hundred-ninety) {
           margin-top: $ten;
         }
         span {
           @include spanFooter;
         }
         a {
           text-decoration: none;
           color: $text-color;
           margin-bottom: $ten;
         }
       }
     }
      .payment {
        display: flex;
        justify-content: center;
        width: $one-hundred-percent;
        height: $fifty;
        border-top: 1px solid $text-color;

          .methods {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: $eight-hundred-ninety) {
              flex-direction: column;
              align-items: center;

            }
             span {
               color: $text-color;
               @media (max-width: $eight-hundred-ninety) {
                 text-align: center;
                 margin-bottom: $Tweenty;
               }
             }
          }
      }
}