@import "../../../../sass/colors";
@import "../../../../sass/pixel";

.addProducts {
   position: relative;
   display: flex;
   flex-direction: column;
   border: 1px solid $colorBorderForm;
   width: $five-hundred;
   i {
     position: absolute;
     top: $ten;
     right: $ten;
     padding: $five;
     border: 1px solid $colorBorderForm;
     border-radius: 50%;
     color: $colorBorderForm;
   }
  .customInput {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: $Tweenty auto;
    width: $three-hundred-ten;
    border-bottom: 2px solid $colorWhite;
    @media (max-width: $four-hundred-tweenty-five) {
      width: $two-hundred-eighty;
    }

    input {
      border: none;
      background: transparent;
      outline: none;
      font-size: 1em;
      padding: 0 $thirty-five 0 $five;
      color: $colorWhite;
    }

    input::placeholder {
      color: rgba(0, 0, 0, 0.5);
    }

    label {
      font-size: .9em;
      margin-bottom: $five;
      color: $colorWhite;
    }
  }
  .customSelect {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: $three-hundred-ten;
    @media (max-width: $four-hundred-tweenty-five) {
      width: $two-hundred-eighty;
    }
    label {
      font-size: .9em;
      margin-bottom: $five;
      color: $colorWhite;
    }
    .selectBox {
      outline: none;
      width: $one-hundred-percent;
      background: none;

    }
  }
  .addProduct {
    width: $one-hundred;
    height: $thirty;
    border-radius: $thirty;
    border: 1px solid $colorBorderForm;
    background: none;
    margin: $five auto;
    outline: none;
  }
}