@import "../../../sass/colors";
@import "../../../sass/pixel";

.productCard {
   position: relative;
   margin: $ten $Tweenty;
   border: 1px solid $colorWhite;
    .icon {
      position: absolute;
      top: $ten;
      right: $ten;
      color: $colorWhite
    }
    .red {
      color: $red;
    }
   h3 {
          margin: $ten;
   }
   .infoContainer {
     display: flex;
     align-items: start;
     justify-content: space-between;
      width: $one-hundred-percent;

        @media (max-width: $seven-hundred-sixty-eight) {
           flex-direction: column;
           align-items: center;
        }
       .imgContainer {
         position: relative;
         display: flex;
         align-items: center;
         justify-content: center;
         width: $three-hundred;
         height: $three-hundred;
         background: $cardBackGround;
          margin-left: $Tweenty;
          margin-right: $ten;
          @media (max-width: $seven-hundred-sixty-eight) {
            margin: $ten auto;
            width: $two-hundred-fifty;
          }
           span {
             position: absolute;
             width: auto;
             height: auto;
             bottom: $ten;
             right: $five;
             font-size: 2rem;
             color:$colorWhite;
           }
          img {
            width: $two-hundred-eighty;
            height: $two-hundred-eighty;
            object-fit: contain;
            @media (max-width: $seven-hundred-sixty-eight) {
              width: $two-hundred-thirty;
            }
          }
       }
       span {

         margin-right: $Tweenty;
         width: 60%;
         height: $three-hundred;
         overflow-x: auto;
         @media (max-width: $seven-hundred-sixty-eight) {
            text-align: center;
            height: $two-hundred;
            width: $one-hundred-percent;
            margin-bottom: $ten;
            padding-left: $Tweenty;
         }
       }
   }
  .OrderBox {
    display: flex;
    gap: $thirty;
    margin:$thirty;
     .inputBox {
       position: relative;
       display: flex;
       .decrease {
         position: absolute;
         left: -$nine-ten;
         outline: none;
         background: $backGrandColor;
         border: 1px solid $borderInShopLikedProducts;
         border-top-left-radius: $thirty;
         border-bottom-left-radius: $thirty;
         color: $colorWhite;
         height: $forty;
         width: $Tweenty;
       }
       .increase {
         position: absolute;
         right: -$nine-ten;
         outline: none;
         background: $backGrandColor;
         border: 1px solid $borderInShopLikedProducts;
         border-left: unset;
         border-top-right-radius: $thirty;
         border-bottom-right-radius: $thirty;
         color: $colorWhite;
         height: $forty;
         width: $Tweenty;
       }
       input {
         border-top: 1px solid $borderInShopLikedProducts;
         border-bottom: 1px solid $borderInShopLikedProducts;
         background: $backGrandColor;
         color: $colorWhite;
         outline: none;
         text-align: center;
         width: $thirty;
         height: $forty;
       }
       input[type="number"]::-webkit-inner-spin-button {
         display: none;
       }

     }
    .addToBasket{
      outline: none;
      border: 1px solid $colorWhite;
      background: $backGrandColor;
      border-top-left-radius: $thirty;
      border-bottom-right-radius: $thirty;
      font-weight: bold;
      text-transform: uppercase;
      margin-left: $ten;
      width: $one-hundred-thirty;
      height: $forty;
    }
  }

}