.remove-List {
  position: relative;
  display: flex;
  overflow-x: auto;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: 500px;
  border: 2px solid rgba(255,255,255,0.5);
   @media (max-width: 900px) {
     width: 100%;
   }
  .hideDeletePanel {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 50%;
    color: rgba(255,255,255,0.5);
    @media (max-width: 326px) {
      right: 0px;
    }
  }

  input {
    outline: none;
    background: none;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 30px;
    color: white;
    width: 280px;
    min-height: 30px;
    margin-top: 10px;
    padding-left: 20px;
     @media (max-width: 420px) {
       margin-right: 25px;
     }
  }


   .removeListItem {
     display: flex;
     justify-content: space-between;
     align-items: center;
     border: 1px solid rgba(255,255,255,0.5);
     color: white;
     width: 80%;
     min-height: 100px;
     list-style: none;
     margin: 10px ;
      @media (max-width: 425px) {
           width: unset;
      }

     .item_Info {
       display: flex;
       gap: 10px;
       align-items: center;
       margin-left: 10px;
        img {
          width: 50px;
          height: 50px;
          object-fit: contain;
        }
     }
   .btnContainer {
     display: flex;
     align-items: center;
     @media (max-width: 800px) {
       margin-left: 10px;
     }
     .delete {
       outline: none;
       background: none;
       color: rgba(255,255,255,0.5);
       margin-right: 10px;
       margin-left: 5px;
       border: 1px solid rgba(255,255,255,0.5);
       border-radius: 50%;
       i {
         padding: 5px;
       }
     }
     .editBtn {
       outline: none;
       background: none;
       color: rgba(255,255,255,0.5);
       margin-left: 5px;
       border: 1px solid rgba(255,255,255,0.5);
       border-radius: 50%;
        i {
          padding: 5px;
        }
     }
   }
  }

}
.hide {
  display: none;
}
.editForm {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  padding-top: 20px;

   i {
     position: absolute;
     top: 10px;
     right: 10px;
     padding: 5px;
     border: 1px solid rgba(255,255,255,0.5);
     border-radius: 50%;
     color: rgba(255,255,255,0.5);
   }
   .customInput {
     display: flex;
     flex-direction: column;
     margin-bottom: 20px;
     width: 310px;
     border-bottom: 2px solid #fff;
     @media (max-width: 505px){
       width: 290px;
     }
     input {
       border: none;
       background: transparent;
       outline: none;
       font-size: 1em;
       padding: 0 35px 0 5px;
       color: #fff;
     }

     label {
       font-size: .9em;
       margin-bottom: 5px;
       color: #fff;
     }
   }
   .customTextArea {
     display: flex;
     flex-direction: column;
     margin-bottom: 20px;
     max-width: 310px;
     @media (max-width: 505px){
       width: 290px;
     }
      textarea {
        background: none;
        border: 1px solid rgba(255,255,255,0.5);
        width: 310px;
        @media (max-width: 505px){
          width: 290px;
        }
      }
     label {
       font-size: .9em;
       margin-bottom: 5px;
       color: #fff;
     }
   }
  .customSelect {
    width: 310px;
    background: none;
    border: 1px solid rgba(255,255,255,0.5);
    margin-bottom: 20px;
    @media (max-width: 505px){
      width: 290px;
    }
     select {
       outline: none;
      background: none;
       width: 100%;
     }
  }
  .saveBtn {
    outline: none;
    width: 100px;
    height: 30px;
    background: none;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 40px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 10px;
  }
}

::-webkit-scrollbar {
  background: #212121;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgba(255,255,255,0.5);
}