@import "../../../../sass/colors";
@import "../../../../sass/pixel";

.remove-List {
  position: relative;
  display: flex;
  overflow-x: auto;
  flex-direction: column;
  align-items: center;
  width: $seven-hundred;
  height: $five-hundred;
  border: 2px solid $colorBorderForm;
   @media (max-width: $nine-hundred) {
     width: $one-hundred-percent;
   }
  .hideDeletePanel {
    position: absolute;
    top: $ten;
    right: $ten;
    padding: $five;
    border: 1px solid $colorBorderForm;
    border-radius: 50%;
    color: $colorBorderForm;
    @media (max-width: $three-hundred-tweenty-six) {
      right: 0;
    }
  }

  input {
    outline: none;
    background: none;
    border: 2px solid $colorBorderForm;
    border-radius: $thirty;
    color: $colorWhite;
    width: $two-hundred-eighty;
    min-height: $thirty;
    margin-top: $ten;
    padding-left: $Tweenty;
     @media (max-width: $four-hundred-tweenty) {
       margin-right: $tweenty-five;
     }
  }


   .removeListItem {
     display: flex;
     justify-content: space-between;
     align-items: center;
     border: 1px solid $colorBorderForm;
     color: $colorWhite;
     width: 80%;
     min-height: $one-hundred;
     list-style: none;
     margin: $ten ;
      @media (max-width: $four-hundred-tweenty-five) {
           width: unset;
      }

     .item_Info {
       display: flex;
       gap: $ten;
       align-items: center;
       margin-left: $ten;
        img {
          width: $fifty;
          height: $fifty;
          object-fit: contain;
        }
     }
   .btnContainer {
     display: flex;
     align-items: center;
     @media (max-width: $eight-hundred) {
       margin-left: $ten;
     }
     .delete {
       outline: none;
       background: none;
       color: $colorBorderForm;
       margin-right: $ten;
       margin-left: $five;
       border: 1px solid $colorBorderForm;
       border-radius: 50%;
       i {
         padding: $five;
       }
     }
     .editBtn {
       outline: none;
       background: none;
       color: $colorBorderForm;
       margin-left: $five;
       border: 1px solid $colorBorderForm;
       border-radius: 50%;
        i {
          padding:$ten;
        }
     }
   }
  }

}
.hide {
  display: none;
}
.editForm {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $five-hundred;
  border: 1px solid $colorBorderForm;
  border-radius:$Tweenty;
  padding-top: $Tweenty;

   i {
     position: absolute;
     top: $ten;
     right: $ten;
     padding: $five;
     border: 1px solid $colorBorderForm;
     border-radius: 50%;
     color: $colorBorderForm;
   }
   .customInput {
     display: flex;
     flex-direction: column;
     margin-bottom: $Tweenty;
     width: $three-hundred-ten;
     border-bottom: 2px solid $colorWhite;
     @media (max-width: $five-hundred-five){
       width: $two-hundred-ninety;
     }
     input {
       border: none;
       background: transparent;
       outline: none;
       font-size: 1em;
       padding: 0 $thirty-five 0 $five;
       color: $colorWhite;
     }

     label {
       font-size: .9em;
       margin-bottom: $five;
       color: $colorWhite;
     }
   }
   .customTextArea {
     display: flex;
     flex-direction: column;
     margin-bottom: $Tweenty;
     max-width: $three-hundred-ten;
     @media (max-width: $five-hundred-five){
       width: $two-hundred-ninety;
     }
      textarea {
        background: none;
        border: 1px solid $colorBorderForm;
        width: $three-hundred-ten;
        @media (max-width: $five-hundred-five){
          width: $two-hundred-ninety;
        }
      }
     label {
       font-size: .9em;
       margin-bottom: $five;
       color: $colorWhite;
     }
   }
  .customSelect {
    width: $three-hundred-ten;
    background: none;
    border: 1px solid $colorBorderForm;
    margin-bottom: $Tweenty;
    @media (max-width: $five-hundred-five){
      width: $two-hundred-ninety;
    }
     select {
       outline: none;
      background: none;
       width: $one-hundred-percent;
     }
  }
  .saveBtn {
    outline: none;
    width: $one-hundred;
    height: $thirty;
    background: none;
    border: 1px solid $colorBorderForm;
    border-radius: $forty;
    text-transform: uppercase;
    color: $colorWhite;
    margin-bottom: $ten;
  }
}

::-webkit-scrollbar {
  background: #212121;
  width: $ten;
}
::-webkit-scrollbar-thumb {
  border-radius: $six;
  background-color: $colorBorderForm;
}