.searchList {
  position: fixed;
  top: 55px;
  min-height: 0px;
  width: 300px;
  border-radius: 5px;
  margin-top: 10px;
  overflow-x: clip;
  background-color: #ffffff;
   @media (max-width: 590px) {
     top: 88px;
     width: 100%;
   }
   .list-item {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     height: 40px;
     list-style: unset;
     background-color: white;
      span {
        margin-left: 10px;
      }
     img {
         margin-right: 10px;
         width: 30px;
         height: 30px;
         object-fit: contain;
      }
   }
}