@import "../../sass/colors";
@import "../../sass/pixel";

.searchList {
  position: absolute;
  top: 1.5rem;
  min-height: 0;
  width: $three-hundred;
  border-radius: $five;
  margin-top: $ten;
  overflow-x: clip;
  background-color: $colorWhite;
  z-index: 100;
   @media (max-width: $five-hundred-ninety) {

     width: $one-hundred-percent;
   }
   .list-item {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: $one-hundred-percent;
     height: $forty;
     list-style: unset;
     background-color: $colorWhite;
     text-decoration: none;
     color: $black;
      span {
        margin-left: $ten;
      }
     img {
         margin-right: $ten;
         width: $thirty;
         height: $thirty;
         object-fit: contain;
      }
   }
}