@import "../../sass/colors";
@import "../../sass/pixel";

.products-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $one-hundred-percent;
  min-height: 100vh;
  background: $backGrandColor;
  padding: 5px;
   .allProducts {
     display: flex;
     height: $one-thousand-tweenty-five;
     @media (max-width: $seven-hundred-sixty-eight) {
        flex-direction: column;
      }
     .categoryOfProducts {
        display: flex;
        flex-direction: column;
        padding-top: $thirty;
        width: 20%;
       height: $one-hundred-percent;
       z-index: 1;
       @media (max-width: $seven-hundred-sixty-eight) {
         align-items: center;
         justify-content: center;
         flex-direction: unset;
         border-right: unset;
         height: $seventy;
         width: $one-hundred-percent;
       }
        span {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          height: $forty;
          border-radius: $forty;
          color: $colorWhite;
          margin-right: $Tweenty;
          margin-left: $Tweenty;
          margin-bottom: $Tweenty;
          padding: 0 $Tweenty;
          background-color: #020223;
          box-shadow:0 $Tweenty $thirty-five rgba(0,0,0,0.3);
          z-index: 999;
          @media (max-width: $seven-hundred-sixty-eight) {
            margin-left: $ten;
            height: $fifty;
            margin-right: unset;

          }
        }
       span::before {
         content: '';
         position: absolute;
         width: 118%;
         height: 265%;
         background: conic-gradient(from 90deg, rgb(0 0 0 / 0%) 70%, rgb(11 78 230 / 9%)80%, rgb(0, 220, 255) 100%);
         z-index: -3;
         animation: rotate 6s linear infinite;

       }

       span::after {
         content: "";
         position: absolute;
         border-radius: $forty;
         inset: 1px;
         background: $backGrandColor;
         z-index: -1;
         box-shadow:inset $Tweenty $Tweenty $Tweenty #0000008c;
       }



     }
       .singielProductsCategory {
         display: flex;
         overflow-x: auto;
         width: $one-hundred-percent;
         height: $one-hundred-percent;
           .allCategorys {
             display: flex;
             flex-wrap: wrap;
             justify-content: space-around;
             overflow-x: auto;
           }
           .singielCategoryMonitor {
             display: flex;
             flex-wrap: wrap;
             justify-content: space-around;
             overflow-x: auto;

           }
          .singielCategoryHead-Set {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;
            overflow-x: auto;
          }
          .singielCategoryPhone {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            overflow-x: auto;
          }
         .hide {
           display: none;
         }

       }
   }

}
@keyframes rotate {
 0% {
  transform: rotate(0);
}
  100% {
    transform: rotate(360deg);
  }
}