.products-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
   .allProducts {
     display: flex;
     height: 700px;
     border: 1px solid black;
      @media (max-width: 768px) {
        flex-direction: column;
      }
     .categoryOfProducts {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        width: 20%;
        border-right: 1px solid black;
        height: 100% ;
       @media (max-width: 768px) {
         align-items: center;
         justify-content: center;
         flex-direction: unset;
         border-right: unset;
         border-bottom: 1px solid black;
         height: 70px;
         width: 100%;
       }
        span {
          margin-left: 20px;
          margin-bottom: 20px;
          @media (max-width: 768px) {
            margin-left: 10px;
          }
        }

     }
       .singielProductsCategory {
         display: flex;
         overflow-x: auto;
         width: 100%;
         height: 100%;
           .allCategorys {
             display: flex;
             flex-direction: column;
             overflow-x: auto;
           }
           .singielCategoryMonitor {
             display: none;
             flex-direction: column;
             overflow-x: auto;

           }
          .singielCategoryHead-Set {
            display: none;
            flex-direction: column;
            overflow-x: auto;
          }
          .singielCategoryPhone {
            display: none;
            flex-direction: column;
            overflow-x: auto;
          }
       }
   }
}